<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">¡Tu Reserva!</h1>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{reserva.planName | uppercase}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>Id:</strong> {{reserva.planId}}</li>
           <li><strong>Dias :</strong> {{reserva.planDetail.numberOfDays}}</li>
          <li><strong>Adultos :</strong> {{reserva.planDetail.adultRate}}</li>
          <li><strong>Niños:</strong> {{reserva.planDetail.childRate }}</li>
          <li><strong>Total :</strong> {{reserva.grandTotal | currency}}</li>
        </ul>
     </div>
    </div>
  </div>
 <a class="btn btn-danger btn-block btn-md" href="" role="button"><i class="fa fa-home"></i> Inicio</a>
</div>